<div class="container">
  <div class="row">
    <h1>New User Account</h1>
  </div>
  <div class="row new-user-form col-md-4">
    <%= form_for @user, url: users_create_path, method: "POST" do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
      <%= f.label :password %>
      <%= f.text_field :password, class: "form-control" %>
      <%= f.label :password_confirmation %>
      <%= f.text_field :password_confirmation, class: "form-control" %><br />
      <%= f.submit %>
    <% end %>
  </div>
</div>
