<div class="container">
  <h1>Links Index</h1>
  <div class="row">
    <div class='col-md-4'>
      <%= form_for @link, url: link_create_path do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %><br  />
        <%= f.label :url_string %>
        <%= f.text_field :url_string, class: "form-control" %><br />
        <%= f.submit "Create Link" %>
      <% end %>
    </div>
  </div><br />
  <div class="row well" id="searchDiv">
    <h3>Filters</h3>
    <div class="col-md-2">
      <input id="searchField" class="form-control" type="text" name="searchTerm" value="Enter Search Term">
    </div>
    <div class="col-md-1">
      <button type="button" name="search" class="btn btn-default search">Search</button>
    </div>
    <div class="col-md-1">
      <button type="button" name="read-filter" class="btn btn-default read-filter">Read</button>
    </div>
    <div class="col-md-1">
      <button type="button" name="unread-filter" class="btn btn-default unread-filter">Unread</button>
    </div>
    <div class="col-md-1">
      <button type="button" name="alphabetical-sort" class="btn btn-default alphabetical-sort">Alpha</button>
    </div>
    <div class="col-md-1">
      <button type="button" name="clear-search" class="btn btn-default clear-search">Clear Filter</button>
    </div>
  </div><br />
  <div class="row">
    <div class="well" id="linksDiv">
    </div>
  </div>
</div>
